{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}
	{% if object %}
		<h4>Atualizar hora extra do {{ object.funcionario.nome }} - {{ object.motivo }}</h4>
	{% else %}
		<h4>Novo registro</h4>
	{% endif %}

	<form method="post">
		{% csrf_token %}
		{{ form|bootstrap }}
		<div class="row">
			<div class="col-sm text-center">
				<button type="submit" class="btn btn-info">Salvar</button>
			</div>
			{% if object %}
				<div class="col-sm text-center">
					<a href="{% url 'delete_hora-extra' object.id %}" class="btn btn-danger">
						Deletar
					</a>
				</div>
				<div class="col-sm text-center">
					<button onclick="utilizouHoraExtra({{ object.id }})" class="btn btn-info" type="button">
						Utilizar hora
					</button>
				</div>
			{% endif %}
		</div>
	</form>
	<h2 id="horas_atualizadas">{{ object.funcionario.total_horas_extra }}</h2>
	<br/>

	<p id="mensagem"></p>

{% endblock %}

{% block static %}
	<script src="{% static 'jQuery/jQuery.js' %}"></script>
	<script src="{% static 'Personalizados/funcoes-ajax.js' %}"></script>
{% endblock %}